<footer class="d-flex justify-content-between align-items-center">
    <p class="mb-0">Wilderness Wares 2024</p>
    <div class="footer-icons">
        <i class="fab fa-facebook-f fa-lg"></i>
        <i class="fab fa-twitter fa-lg"></i>
        <i class="fab fa-instagram fa-lg" ></i>
        <i class="fab fa-pinterest fa-lg" ></i>
    </div>
</footer>


</body>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const flashMessages = document.querySelectorAll('.flash-message');
        flashMessages.forEach(function(fm) {
            if (fm.textContent.trim() === '') {
                fm.style.display = 'none';
            } else {
                setTimeout(() => {
                    fm.style.display = 'none';
                }, 5000);
            }
        });
    });
</script>

</html>